/* --- Designed_By_Amine_Balla --- */
/* --- Redesigned_By_Jihad_laglil --- */

@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Pacifico&family=Roboto+Slab:wght@100..900&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');


body {
    font-family: "Sour Gummy", sans-serif;
    background-image: url("../Images_Connexion_Us_&_Inscription_CSS/background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat repeat;
    height: 100vh;
    color: #333;
}

.auth-main{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 240px;
    margin-bottom: 80px;
}

.auth-container {
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    padding: 40px;
    width: 100%;
    max-width: 450px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.auth-header {
    margin-bottom: 30px;
}

.auth-header h2 {
    font-size: 2rem;
    color: #ca8205;
    margin-bottom: 10px;
}

.auth-header p {
    color: #000000;
    font-size: 24px;
}

.input-group {
    margin-bottom: 20px;
}

.input-icon {
    position: relative;
    display: flex;
    align-items: center;
}

.input-icon i {
    position: absolute;
    left: 15px;
    color: #7a4b09;
    font-size: 1rem;
}

.input-icon input {
    width: 100%;
    padding: 12px 12px 12px 40px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 1rem;
    color: #000000;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.input-icon input:focus {
    border-color: #f9b924;
    box-shadow: 0 0 8px rgba(52, 152, 219, 0.2);
    outline: none;
}


.auth-button {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat repeat;
    padding-top: 10px;
    font-family: "Sour Gummy", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    width: 100%;
    padding: 12px;
    background: #dc9110;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s ease;
}

.auth-button:hover {
    background: #eeb451;
}
.auth-link {
    margin-top: 20px;
    color: #7f8c8d;
    font-size: 0.9rem;
}

.auth-link a {
    color: #845a06;
    text-decoration: none;
    transition: color 0.3s ease;
}

.auth-link a:hover {
    color: #ffc61a;
}
